numpy
scipy
pandas
seaborn
cvzone
eventlet
filterpy
ffmpeg
Flask==3.0.3
Flask_Cors==4.0.1
Flask_SocketIO==5.3.6
m3u8==6.0.0
matplotlib
moviepy
opencv_python
redis==5.0.8
Requests==2.32.3
scikit-image
ultralytics==8.2.81
wres==1.0.3
torch
torchvision
torchaudio
-f https://download.pytorch.org/whl/cu117
