.about-page {
    display: flex;
}

.description{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 100vh;
    padding: 30px;
    font-family: Arial, sans-serif;
    font-size: large;
    text-align: justify;
    color: #FFFFFF;
}

.custom-link{
    color: #FFA500;
}