/* App container */
.App {
  padding-top: 0; /* Space for the fixed navbar */
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 0;
  background-color: #2F3061;
  gap: 40px;
  padding: 15px;
  position: relative;
  z-index: 1000;
}

.navbar .nav-button {
  background-color: #0E34A0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #DFDFDF;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #DFDFDF;
  color: #343434;
}

.expandable-button-container .main-button{
  background-color: #0E34A0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #DFDFDF;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.expandable-button-container .main-button:hover {
  background-color: #DFDFDF;
  color: #343434;
}

.expandable-button-container{
  position: relative;
  z-index: 2000;
}

.additional-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Center vertically relative to the main button */
  left: 0%; /* Position to the right of the main button */
  margin-bottom: 5px; /* Space between the main button and additional buttons */
  opacity: 1;
  /*visibility: hidden;*/
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 3000;
  padding-top:3px;
}

.additional-buttons .additional-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #0E34A0;
  color: #DFDFDF;
  border: solid 1px #343434;
  border-radius: 5px;
  cursor: pointer;
  /*margin-bottom: 2px;*/
  transition: background-color 0.3s ease;
  z-index: 40000;
}

.additional-buttons .additional-button:last-child {
  margin-bottom: 0;
}

.additional-buttons .additional-button:hover {
  background-color: #DFDFDF;
  color: #343434;
}

/* Show additional buttons when expanded or hovered */
.additional-buttons{
  opacity: 1;
  visibility: visible;
}