/* App container */
.App {
  padding-top: 0; /* Space for the fixed navbar */
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 0;
  background-color: #1F1F1F;
  gap: 40px;
  padding: 20px;
  position: relative;
  z-index: 1000;
}

.navbar .nav-button-add {
  background-color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  width: auto;
  height: auto;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar .nav-button-main {
  background-color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  width: auto;
  height: auto;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  cursor: pointer;
}

.nav-button-main:hover {
  color: #3D3D3D;
}

.nav-button-add:hover{
  color: #3D3D3D;
}

.expandable-button-container .main-button{
  background-color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  width: auto;
  height: auto;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

.expandable-button-container .main-button:hover {
  background-color: #1F1F1F;
  color: #3D3D3D;
}

.expandable-button-container{
  position: relative;
  z-index: 2000;
}

.additional-buttons {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  background-color: #1F1F1F;
  top: 10%; /* Center vertically relative to the main button */
  left: 0%; /* Position to the right of the main button */
  /*margin-bottom: 5px; !* Space between the main button and additional buttons *!*/
  opacity: 1;
  /*visibility: hidden;*/
  transform: translateX(-100%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 3000;
}

.additional-buttons .additional-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1F1F1F;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  width: auto;
  height: auto;
  cursor: pointer;
  white-space: nowrap;
  /*margin-bottom: 2px;*/
  /*transition: background-color 0.3s ease;*/
  z-index: 40000;
  font-size: 20px;
}

.additional-buttons .additional-button:first-child {
  margin-right: 20px;
}

.additional-buttons .additional-button:hover {
  background-color: #1F1F1F;
  color: #3D3D3D;
}

/* Show additional buttons when expanded or hovered */
.additional-buttons{
  opacity: 1;
  visibility: visible;
}