.App {
  display: flex;
  /*height: 100vh;*/
  font-family: Arial, sans-serif;
}

.App .sidebar {
  width: 30px;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  transition: width 0.3s ease;
  padding-left: 50px;
}

.sidebar.expanded {
  width: 160px;
}

.sidebar .toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: darkblue;
  border: none;
  color: #282c34;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #21a1f1;
}

.sidebar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: darkblue;
  border: none;
  color: #282c34;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar button .icon {
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar button .text {
  opacity: 1;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: whitesmoke;
}

.sidebar.expanded button .text {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transform: translateX(0);
}

.sidebar .expandable-button-container{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Container for the expandable button */
.expandable-button-container {
  position: relative;
  display: inline-block;
}

/* Main button styling */
.expandable-button-container .main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 40px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Expanded state for main button */
.main-button.expanded {
  background-color: #21a1f1;
}

.main-button:hover{
  background-color: #21a1f1;
}

/* Additional buttons styling */
.additional-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%; /* Center vertically relative to the main button */
  left: 100%; /* Position to the right of the main button */
  margin-left: 5px; /* Space between the main button and additional buttons */
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.additional-buttons .additional-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #28a745;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0px;
  transition: background-color 0.3s ease;
}

.additional-buttons .additional-button:last-child {
  margin-bottom: 0;
}

.additional-buttons .additional-button:hover {
  background-color: #218838;
}

/* Show additional buttons when expanded or hovered */
.additional-buttons{
  opacity: 1;
  visibility: visible;
}